
<div class="list-content">
<%= link_to(comment_path(comment.id)) do %>
  <div class="listA">
  <h3>名前： <%= comment.name %></h3>
  <div class=rankA>
    評価：
   <div class="rank">
     <div class="star-ratings-sprite">★★★★★</div>
      <span style="width:<%= comment.score*20 %>%" class="star-ratings-sprite-rating">★★★★★</span>
    </div>
  </div>
  <p>内容： <%= comment.comment.truncate(50) %></p>
  </div>
<% end %>
</div>
