<%= stylesheet_link_tag  'companies', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag  'brands', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="index">
<%= render partial: 'brands/brand', collection: @company.brands %>
</div>

<% if user_signed_in? %>
<%= link_to "ブランドを投稿", new_brand_path %>
<% end %>
