<div class="index_editor">
<%= link_to(editor_path(editor.id)) do %>
<div class="img">
<%= image_tag editor.avatar_url, :class =>"image" %>
<p><%= editor.category %></p>
</div>
<h4><%= editor.title %></h4>
<% end %>
</div>


