<div class="index_editor">
<%= link_to(editor_path(editor.id)) do %>
<h4><%= editor.title %></h4>
<%= image_tag editor.avatar_url, :class =>"image" %>
<p><%== editor.description.truncate(80) %></p>
<% end %>
</div>

