<div class ="header">
  <%= link_to(root_path, class: 'content') do %>
  <p>ハウスマテリアル<%= image_tag 'home.png', :size =>'23x23' %></p>
  <% end %>
  <%= link_to(inquiries_path, class: 'content') do %>
  <p>問い合わせ</p>
  <% end %>
  <%= link_to(top_about_path, class: 'content') do %>
  <p>ABOUT</p>
  <% end %>
</div>
