
.search {
margin-top: 55px;
  .container {
    text-align: left;
    background-color: #fff;
    padding: 10px;
    width: 99%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    h3 {
      font-size: 18px;
      font-weight: bold;
      line-height: 30px;
      border-left: solid 4px #f65314;
      padding-left: 5px;
      margin-bottom: 25px;
      margin-top: 15px;
    }
    .field {
      margin-bottom: 25px;
      p {
        font-size: 15px;
        font-weight: bold;
        line-height: 26px;
        color: #777777;
      }
      select {
        height: 30px;
        width: 90%;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
      }
      .tag {
        max-width: 600px;
        input {
          display: none;
        }
            label {
              font-size: 12px;
              background-color: #e9ebec;
              display: inline-block;
              padding: 6px 10px;
              margin-bottom: 5px;
              border-radius: 3px;
            }
          input[type=checkbox]:checked + a {
            background-color: #f65314;
             label {
              color: #fff;
              background-color: #f65314;
            }
         }
       }
    }
  .button {
    background-color: #f65314;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding:10px 75px;
    border-radius: 3px;
    border: none;
    letter-spacing: 0.9em;
     box-shadow: 0 6px 0 #bf5b20;
      &:hover {
        background-color: #bf5b20;
        transform: translate3d(0, 4px, 0);
      }
  }



  }
}
