// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  width: 100%;
  margin-bottom: 30px;

  .form {
    width: 80%;
  }
   .text {
    width: 80%;
    height: 250px;
   }
   .setumei {
    height: 350px;
   }
}
