// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
  margin-top: 50px;
}
.field {
  width: 100%;
  margin-bottom: 30px;

  .form {
    width: 80%;
  }
   .text {
    width: 80%;
    height: 250px;
   }
   .setumei {
    height: 350px;
   }
}

.list-content {
  background-color: #fff;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  text-align: left;
  width: 92%;
  padding: 5px 5px;
  margin-bottom: 25px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  a {
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
  }
  p.price {
    font-size: 12px;
    color: #000;
    margin-bottom: 5px;
  }
  h6 {
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 18px;
  }
   img.image_view {
    width: 100%;
   }
   .listA {
      color: #000;
      h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: 27px;
      }
      p {
        color: #000;
        border: solid 1px #cfcfcf;
        text-decoration: none;
        border-radius: 3px;
        padding: 3px 6px;
        margin-right: 5px;
        font-size: 12px;
        display: inline-block;
        margin-bottom: 5px;
      }
   }
}
