// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
  margin-top: 55px;
  width: 100%;
   .list-content {
    background-color: #fff;
    width: 97%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    text-align: left;
    max-width: 1000px;
    padding: 20px 5px;
     a {
      text-decoration: none;
        &:hover {
            h3, p {
            opacity: 0.5;
           }
        }
       h3 {
        font-size: 13px;
        line-height: 22px;
        color: #000;
       }
       p {
        font-size: 14px;
        line-height: 23px;
        color: #666666;
       }
     }
    //コメント投稿ページ
     .field {
      margin-bottom: 20px;
       .form {
        width: 97%;
        height: 28px;
        border-radius: 3px;
        border: none;
       }
       .formA {
        width: 95%;
       }
       select {
        width: 99%;
        height: 28px;
        border: none;
       }
       #comment_comment {
        height: 180px;
       }
       .btn {
        width: 99%;
        height: 35px;
        border-radius: 3px;
        background-color: #f65314;
        color: #fff;
        box-shadow: 0 5px 0 #bf5b20;
        border: none;
        font-weight: bold;
        letter-spacing: 0.2em;
       }
     }
   }
   .list-content.show {
    h3.text {
      font-size: 19px;
      margin-bottom: 10px;
      border-left: solid 4px #f65314;
      padding-left: 5px;
    }
    h6 {
      font-size: 13px;
      // font-weight: bold;
      margin-bottom: 10px;
      letter-spacing: 0.1em;
    }
    p.text {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    img.image {
      width: 100%;
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
      color: #000;
      line-height: 26px;
       a {
        color: #000;
       }
    }
    p {
      font-size: 13px;
      line-height: 23px;
    }
    h4 {
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
    }
   }
}
