// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
  margin-top: 55px;
  width: 100%;
   .list-content {
    background-color: #fff;
    width: 97%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    text-align: left;
    max-width: 1000px;
    padding: 20px 5px;
     a {
      text-decoration: none;
        &:hover {
            h3, p {
            opacity: 0.5;
           }
        }
       h3 {
        font-size: 13px;
        line-height: 22px;
        color: #000;
       }
       p {
        font-size: 14px;
        line-height: 23px;
        color: #666666;
       }
     }
    //コメント投稿ページ
     .field {
      margin-bottom: 20px;
       .form {
        width: 97%;
        height: 28px;
        border-radius: 3px;
       }
       select {
        width: 99%;
        height: 28px;
       }
       #comment_comment {
        height: 150px;
       }
     }
   }
   .list-content.show {
    img.image {
      width: 100%;
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
      color: #000;
      line-height: 26px;
       a {
        color: #000;
       }
    }
    p {
      font-size: 13px;
      line-height: 23px;
    }
    h4 {
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
    }
   }
}
