// Place all the styles related to the Editors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.editor {
  width: 100%;
  margin-top: 55px;
   .container {
    background-color: #fff;
    width: 97%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    text-align: left;
    max-width: 1000px;
    padding: 20px 5px;
      img.image {
        width: 100%;
      }
      h4 {
        font-size: 15px;
        font-weight: bold;
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        border-left: solid 4px #f65314;
        padding-left: 5px;
        margin: 10px auto;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        margin-top: 20px;
      }
     a.list-content {
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      color: #000;
      background-color: #cccccc;
      padding: 2px 7px;
      padding-right: 12px;
      border-radius: 3px;
      margin-left: 6px;
     }
   }
   .index_editor {
    width: 98%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    padding: 10px 5px;
    text-align: left;
    border-radius: 3px;
    margin-bottom: 10px;
     a {
      text-decoration: none;
        &:hover {
          opacity: 0.5;
        }
     }
      img.image {
        width: 100%;
      }
      h4 {
        font-weight: bold;
        color: #000;
      }
      p {
        font-size: 12px;
        line-height: 20px;
        color: #666666;
      }
   }
}
