// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.conteiner {
margin-top: 55px;
width: 100vw;
  .comment {
    margin-top: 10px;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f65314;
    height: 55px;
    border-radius: 8px;
    border: double 8px #fff;
      &:hover {
        opacity: 0.6;
       }
     a {
      color:  #fff;
      text-decoration: none;
      align-items: center;
      display: flex;
      justify-content: center;
       img.image_comment {
        margin-right: 5px;
       }
       p {
        font-size: 17px;
        letter-spacing: 0.1em;
        font-weight: bold;
        line-height: 55px;
       }
     }
  }
h5 {
  font-size: 11px;
  color: #777777;
   margin-bottom: 5px;
}
h1 {
  font-size: 23px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 0;

}
width: 100%;
    .conA, .conB, .conC, .conD {
      width: 99%;
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
    }
  .conA {
    border-bottom: double 5px #00b0ca;
    border-top: double 5px #00b0ca;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 45px;
    border-radius: 3px;
    .panda {
      margin-bottom: 15px;
    }
    p {
      font-size: 13px;
      line-height: 25px;
      font-weight: bold;
      margin-top: -20px;
      margin-bottom: 55px;
    }
    a.search {
      background-color: #f65314;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      padding:12px 55px;
      align-items: center;
      letter-spacing: 0.1em;
      border-radius: 3px;
      box-shadow: 0 5px 0 #bf5b20;
      img {
        margin-bottom: -5px;
      }
      &:hover {
        background-color: #bf5b20;
        transform: translate3d(0, 4px, 0);
      }
    }
  }
  .conB {
    ul {
      text-align: left;
      margin: 10px auto;
      width: 100%;
      li {
        font-size: 14px;
        font-weight: bold;
        line-height: 25px;
        width: 100%;
        h4 {
          font-size: 18px;
          width: 100%;
        }
         h6 {
          font-weight: 100;
          color: #555555;
          width: 98%;
          margin-right: auto;
          margin-left: auto;
          margin-top: 10px;
           span {
            font-weight: bold;
           }
         }
      }
    }
    a.company_index {
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      line-height: 35px;
      display: inline-block;
      background-color: #fff;
      margin-top: 15px;
      width: 100%;
      color: #777777;
      border-radius: 3px;
      box-shadow: 0 5px 0 #e4e4e4;
       &:hover {
        background-color: #e4e4e4;
        color: #fff;
        transform: translate3d(0, 5px, 0);
       }
    }
    p {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      padding-left: 15px;
      color: #f65314;
      border-left: solid 4px #f65314;
      line-height: 33px;
    }
  .conB-1 {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
     a.list-content {
      text-align: left;
      padding-left: 7px;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      background-color: #fff;
      width: 180px;
      min-width: 170px;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      line-height: 30px;
      margin: 3px;
      color: #777777;
      flex: 1 1 160px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 3px;
        &:hover {
          background-color: #f65314;
          color: #fff;
        }
      }
    }
   }
  .conC {
    p {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      padding-left: 15px;
      color: #f65314;
      border-left: solid 4px #f65314;
      line-height: 33px;
    }
  }
 @media (min-width: 750px) {
    h1 {
      font-size: 32px;
    }
    h5 {
      font-size: 15px;
    }
 }
}



