// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.conteiner {
margin-top: 55px;
width: 100vw;
  .comment {
    margin-top: 10px;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f65314;
    height: 55px;
    border-radius: 8px;
    border: double 8px #fffaec;
    max-width: 1200px;
      &:hover {
        opacity: 0.6;
       }
     a {
      color:  #fff;
      text-decoration: none;
      align-items: center;
      display: flex;
      justify-content: center;
      padding-top: 13px;
       img.image_comment {
        margin-right: 5px;
        margin-top: -18px;
       }
       p {
        font-size: 17px;
        letter-spacing: 0.1em;
        font-weight: bold;
        line-height: 18px;
          span {
            font-size: 10px;
          }
       }
     }
  }
h5 {
  font-size: 11px;
  color: #777777;
   margin-bottom: 5px;
}
h1 {
  font-size: 23px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 0;

}
width: 100%;
    .conA, .conB, .conC, .conD {
      width: 99%;
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
    }
  .conA-1 {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: solid 4px #00b0ca;
    border-top: solid 4px #00b0ca;
    border-radius: 3px;
    width: 98%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  .conA {
    margin-top: 0;
    border-bottom: solid 1px #00b0ca;
    border-top: solid 1px #00b0ca;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    .panda {
      margin-bottom: 15px;
    }
    .search_about {
      width: 65%;
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
      .form {
        width: 100%;
      }
      select {
        -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         display: block;
         cursor: pointer;
         text-align: center;
         background: #fffaec;
          padding: 3px;
          color: #555555;
          border: solid 1px #DDDDDD;
          font-size: 13px;
      }
      .search {
      -webkit-appearance: none;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      line-height: 35px;
      display: inline-block;
      background-color: #fff;
      margin-top: 15px;
      width: 100%;
      color: #777777;
      border-radius: 3px;
      border: solid 1px #AAAAAA;
      box-shadow: 0 5px 0 #e4e4e4;
       &:hover {
        background-color: #e4e4e4;
        color: #fff;
        transform: translate3d(0, 5px, 0);
       }
      }
    }
    p {
      font-size: 13px;
      line-height: 25px;
      font-weight: bold;
      margin-top: -5px;
      margin-bottom: 30px;
    }
    a.search {
      background-color: #f65314;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      padding:12px 55px;
      align-items: center;
      letter-spacing: 0.1em;
      border-radius: 3px;
      box-shadow: 0 5px 0 #bf5b20;
      img {
        margin-bottom: -5px;
      }
      &:hover {
        background-color: #bf5b20;
        transform: translate3d(0, 4px, 0);
      }
    }
  }
  .conB {
    ul {
      text-align: left;
      margin: 10px auto;
      width: 100%;
      li {
        font-size: 14px;
        font-weight: bold;
        line-height: 25px;
        width: 100%;
        h4 {
          font-size: 18px;
          width: 100%;
        }
         h6 {
          font-weight: 100;
          color: #555555;
          width: 98%;
          margin-right: auto;
          margin-left: auto;
          margin-top: 10px;
           span {
            font-weight: bold;
           }
         }
      }
    }
    a.company_index {
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      line-height: 35px;
      display: inline-block;
      background-color: #fff;
      margin-top: 15px;
      width: 100%;
      color: #777777;
      border-radius: 3px;
      box-shadow: 0 5px 0 #e4e4e4;
       &:hover {
        background-color: #e4e4e4;
        color: #fff;
        transform: translate3d(0, 5px, 0);
       }
    }
    p {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      padding-left: 15px;
      color: #f65314;
      border-left: solid 4px #f65314;
      line-height: 33px;
    }
  .conB-1 {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
     a.list-content {
      text-align: left;
      padding-left: 7px;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      background-color: #fff;
      width: 180px;
      min-width: 170px;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      line-height: 30px;
      margin: 3px;
      color: #777777;
      flex: 1 1 160px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 3px;
        &:hover {
          background-color: #f65314;
          color: #fff;
        }
      }
    }
    .index_content {
      display: block;
      margin-top: 10px;
      width: 97%;
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
      display: flex;
      flex-wrap: wrap;
          .list-content {
            display: block;
            border-radius: 5px;
            padding: 5px;
            width: 48%;
            text-align: left;
            max-width: 400px;
            min-width: 160px;
            flex: 1 1 160px;
            margin: 1.5px;
            background-color: #fff;
            overflow: hidden;
            position: relative;
                a {
                  text-decoration: none;
                  &:hover {
                    opacity: 0.5;
                  }
                }
                h3 {
                  color: #000;
                  font-weight: bold;
                }
                p {
                  color: #000;
                  border: solid 1px #cfcfcf;
                  text-decoration: none;
                  border-radius: 3px;
                  padding: 0 6px;
                  margin-right: 5px;
                  font-size: 10px;
                  line-height: 15px;
                  display: inline-block;
                  margin-bottom: 3px;
                }
                h6 {
                  font-size: 10px;
                  letter-spacing: 0.1em;
                  line-height: 18px;
                  color: #999999;
                }
                .image_view {
                   width: 100%;
                   height: 80%;
                   overflow: hidden;
                }
            }
     }
   }
  .conC {
    p {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      padding-left: 15px;
      color: #f65314;
      border-left: solid 4px #f65314;
      line-height: 33px;
    }
  }
 @media (min-width: 750px) {
    .comment {
      height: 75px;
       a {
        padding-top: 25px;
          p {
            font-size: 20px;
          }
       }
    }
    h1 {
      font-size: 32px;
    }
    h5 {
      font-size: 15px;
    }
 }
}



